/* Display inti */
.display-inti .card .card-body p,
.display-inti .card .card-footer p,
.display-inti .card .card-header p {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.display-inti .card .card-body p {
  font-size: 5vw;
}

.display-inti .card .card-body {
  margin-bottom: 5px;
  margin-top: 5px;
}

/* Display antrian */
.display-antrian .card .card-header {
  font-size: 5vw;
}

/* jadwal sholat */
.jadwal-sholat .box-jadwal-sholat {
  background: linear-gradient(164deg, white, green) !important;
  color: white;
  padding: 10px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 1vw;
}
